</main>

<div id="cNumber" class="left-footer">
</div>
<div class="right-footer">
  <span>© Copyright 2024-2030. All right reserved.</span>
</div>

<div id="cGrid"></div>

<script type="module" src="/js/dist/out.js"></script>
</body>
</html>