<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link type="text/css" rel="stylesheet" href="/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />

    <title><%= title %></title>
  </head>
  <body>
    <div id="cursor-circle"></div>
    <div id="cLoader"></div>
    <div id="loading-bar"></div>

    <a id="logo" href="/"><img src="/image/logo3.png" /></a>
    <header>
    <nav class="main_navigation">
        
    </nav>
    </header>
    <section id="social_media">
      <ul id="social_media_list_items">
        <li id="social_media_item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 7h10v10" />
            <path d="M7 17 17 7" />
          </svg>
          <a class="social_media_link">Instagram</a>
        </li>
        <li id="social_media_item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 7h10v10" />
            <path d="M7 17 17 7" />
          </svg>
          <a class="social_media_link">Facebook</a>
        </li>
        <li id="social_media_item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 7h10v10" />
            <path d="M7 17 17 7" />
          </svg>
          <a class="social_media_link">Linkedin</a>
        </li>
      </ul>
    </section>
    <main>