<%- include('partials/header.ejs') %>
<h1 id="main-title" class="title">Contact</h1>
<div class="container contactpage">
  <div class="leftside">
    <h2>Hello</h2>
    <p>On reste en contact ?</p>
    <div class="reseaux-container">
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-facebook"
        >
          <path
            d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
          />
        </svg>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-linkedin"
        >
          <path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          />
          <rect width="4" height="12" x="2" y="9" />
          <circle cx="4" cy="4" r="2" />
        </svg>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-instagram"
        >
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
          <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
        </svg>
      </a>
    </div>
    <h2 class="contact-mail">alexis.exemple@gmail.com</h2>
  </div>
  <form class="rightside">
    <label>Nom :</label>
    <input type="text" placeholder="Votre nom" />

    <label for="object-select">Object :</label>

    <select name="object" id="object-select">
      <option value="Evènements">Evènements</option>
      <option value="sport">Sport</option>
      <option value="graphisme">Graphisme</option>
      <option value="management">Community Management</option>
    </select>
    <label>Message :</label>
    <input type="text" placeholder="Votre message" />
    <fieldset>
      <div>
        <input type="checkbox" id="accepted" name="accepted" />
        <label for="accepted"
          >Après avoir lu et compris la politique de confidentialité, j’accepte
          le traitement de mes données personnelles.</label
        >
      </div>
    </fieldset>
    <button type="submit">Envoyer</button>
  </form>
</div>
<%- include('partials/footer.ejs') %>
