<%- include('partials/header.ejs') %>
<h1 id="main-title" class="title">Galerie</h1>
<h2 class="subtitle">Evenements</h2>
<button type="button" class="galerie-return">
  <a href="/galerie">Retour</a>
</button>
<div class="submenu">
  <a>Mariage</a>
  <a>Communion</a>
  <a>Naissance</a>
  <a>Sport</a>
</div>

<div class="photos">
  <img class="photo" src="/image/image1.jpg" />
  <img class="photo" src="/image/image2.jpg" />
  <img class="photo" src="/image/image3.jpg" />
  <img class="photo" src="/image/image4.jpg" />
  <img class="photo" src="/image/image2.jpg" />
  <img class="photo" src="/image/image1.jpg" />
  <img class="photo" src="/image/image3.jpg" />
  <img class="photo" src="/image/image4.jpg" />
  <img class="photo" src="/image/image2.jpg" />
  <img class="photo" src="/image/image1.jpg" />
  <img class="photo" src="/image/image2.jpg" />
  <img class="photo" src="/image/image3.jpg" />
  <img class="photo" src="/image/image4.jpg" />
  <img class="photo" src="/image/image2.jpg" />
  <img class="photo" src="/image/image1.jpg" />
  <img class="photo" src="/image/image3.jpg" />
  <img class="photo" src="/image/image4.jpg" />
  <img class="photo" src="/image/image2.jpg" />
</div>

<div class="main-photo-container">
  <img class="main-photo" src="/image/image1.jpg" />
</div>
<%- include('partials/footer.ejs') %>
