<%- include('partials/header.ejs') %>
<h1 id="main-title" class="title">Galerie</h1>
<div class="container galerie">
  <div class="galerie-item">
    <a class="item-link" href="/galerie/evenements">
      <h2 class="rolling-text">evenements</h2>
      <img src="/image/event/Animaux/animaux4.jpg" />
      <div class="nombre-img">
        <div>00</div>
        <div>/23</div>
      </div>
    </a>
  </div>
  <div class="galerie-item">
    <a class="item-link" href="/galerie/graphisme">
      <h2 class="rolling-text">graphisme</h2>
      <img src="/image/Graphisme/Logo/image1.png" />
      <div class="nombre-img">
        <div>00</div>
        <div>/23</div>
      </div>
    </a>
  </div>
  <div class="galerie-item">
    <a class="item-link" href="/galerie/management">
      <h2 class="rolling-text">management</h2>
      <img src="/image/image4.jpg" />
      <div class="nombre-img">
        <div>00</div>
        <div>/23</div>
      </div>
    </a>
  </div>
</div>
<%- include('partials/footer.ejs') %>
