<%- include('partials/header.ejs') %>
<div class="container hero">
  <div class="line first" id="cPhotographe"></div>

  <div class="line second" id="cGraphiste"></div>

  <div class="line fourth" id="cAgency"></div>
</div>

<%- include('partials/footer.ejs') %>
