<%- include('partials/header.ejs') %>
<h1 id="main-title" class="title"></h1>
<div class="studio-navigation">
  <a class="active" href="#presentation">Presentation</a>
  <a href="#prestations">Prestations</a>
  <a href="#contact">Contact</a>
</div>
<div class="studio-container">
  <section id="presentation" class="container presentation">
    <div class="reseaux-container">
      <p class="studio-presentation">
        Enchanté, je m'appelle Alexis. <br />Passionné par l'art et la
        communication visuelle, je propose des services complets en
        photographie, graphisme, et gestion de réseaux sociaux. Mon objectif est
        de transformer vos idées en projets concrets, captivants et sur mesure,
        tout en renforçant votre présence en ligne.
      </p>
      <button class="contact-btn">Prendre contact</button>
    </div>
  </section>
  <section id="prestations" class="container prestation">
    <div class="prestation-item">
      <div class="prestation-item_image-wrapper">
        <div class="prestation-item_image-inner">
          <img
            class="prestation-item_image"
            src="/image/event/Mariage/1/image1.jpg"
          />
        </div>
      </div>
      <span class="prestation-item_text">
        <a class="prestation-link" href="/galerie/evenements">mariage</a>
      </span>
    </div>
    <div class="prestation-item">
      <div class="prestation-item_image-wrapper">
        <div class="prestation-item_image-inner">
          <img
            class="prestation-item_image"
            src="/image/event/Naissance/image1.jpg"
          />
        </div>
      </div>
      <span class="prestation-item_text">
        <a class="prestation-link" href="/galerie/evenements">naissance</a>
      </span>
    </div>
    <div class="prestation-item">
      <div class="prestation-item_image-wrapper">
        <div class="prestation-item_image-inner">
          <img class="prestation-item_image" src="/image/image3.jpg" />
        </div>
      </div>
      <span class="prestation-item_text">
        <a class="prestation-link" href="/galerie/evenements">communion</a>
      </span>
    </div>
    <div class="prestation-item">
      <div class="prestation-item_image-wrapper">
        <div class="prestation-item_image-inner">
          <img
            class="prestation-item_image"
            src="/image/event/Animaux/animaux1.JPEG"
          />
        </div>
      </div>
      <span class="prestation-item_text">
        <a class="prestation-link" href="/galerie/evenements">animaux</a>
      </span>
    </div>
    <div class="prestation-item">
      <div class="prestation-item_image-wrapper">
        <div class="prestation-item_image-inner">
          <img class="prestation-item_image" src="/image/image1.jpg" />
        </div>
      </div>
      <span class="prestation-item_text">
        <a class="prestation-link" href="/galerie/sport">sport</a>
      </span>
    </div>
    <div class="prestation-item">
      <div class="prestation-item_image-wrapper">
        <div class="prestation-item_image-inner">
          <img
            class="prestation-item_image"
            src="/image/Graphisme/Logo/image1.png"
          />
        </div>
      </div>
      <span class="prestation-item_text">
        <a class="prestation-link" href="/galerie/sport">logo</a>
      </span>
    </div>
    <div class="prestation-item">
      <div class="prestation-item_image-wrapper">
        <div class="prestation-item_image-inner">
          <img
            class="prestation-item_image"
            src="/image/Graphisme/Prints/image1.png"
          />
        </div>
      </div>
      <span class="prestation-item_text">
        <a class="prestation-link" href="/galerie/sport">print</a>
      </span>
    </div>
    <div class="prestation-item">
      <div class="prestation-item_image-wrapper">
        <div class="prestation-item_image-inner">
          <img class="prestation-item_image" src="/image/image2.jpg" />
        </div>
      </div>
      <span class="prestation-item_text">
        <a class="prestation-link" href="/galerie/sport">community manager</a>
      </span>
    </div>
  </section>
  <section id="contact" class="container contact">
    <div>
      <p class="studio-text">Tu as un projet en tête ? Discutons-en !</p>
      <button class="contact-btn">Prendre contact</button>
    </div>

    <div class="reseaux-container">
      <p class="studio-text">Via mes réseaux</p>
      <div class="reseau-container">
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 7h10v10" />
            <path d="M7 17 17 7" />
          </svg>
          <a>Instagram</a>
        </a>
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 7h10v10" />
            <path d="M7 17 17 7" />
          </svg>
          <a>Facebook</a>
        </a>
        <a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M7 7h10v10" />
            <path d="M7 17 17 7" />
          </svg>
          <a>Linkedin</a>
        </a>
      </div>
    </div>
    <div class="reseaux-container">
      <p class="studio-text">Ou par mail.</p>
      <h2 class="studio-mail">alexis.poindefer@gmail.com</h2>
    </div>
  </section>
</div>

<!-- <script src="js/studio.js"></script> -->
<%- include('partials/footer.ejs') %>
